/* Show a 'hand' mouse pointer on clickable rows */
table.clickable-rows tr:hover {
    cursor: pointer;
    background: rgba(176, 191, 175, 0.13);
}

.table-nonfluid {
    width: auto !important;
}

a {
    cursor: pointer;
}

input.custom-size {
    max-width: 50px;
    height: 25px;
}

.custom-size-height, .custom-size-width, input.custom-size {
    display: inline-block;
}

/* PANELS START */

.panel-header {
    padding: 10px 15px;
    border-bottom: 1px solid #f1f1f1;
}

/* PANELS END */

/* SECTIONS START */

section.admin-products, section.admin-users, section.admin-orders {
    padding-top: 50px;
    background-color: aliceblue
}

/* SECTIONS END */
.nav-tabs {
    background: #fff;
    border: none;
    margin-left: 0;
    border-bottom: 1px solid #f5f5f5;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    z-index: 10;
}

.nav-tabs ul {
    margin-left: 0;
}

.nav-tabs > li {
    width: 50%;
    text-align: center;
    z-index: 10;
}

.nav-tabs > li > a {
    border-radius: unset;
    border: none;
    font-size: 18px;
    font-weight: 600;
    color: #bbafc7;
    padding: 15px 0 15px 0;
    -webkit-transition: all 100ms ease-in-out;
    -moz-transition: all 100ms ease-in-out;
    -o-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: none;
    border-bottom: 2px solid #57ab76;
    color: #38274b;
}

.nav-tabs > li > a:hover {
    background: #fff;
    color: #38274b;
}

.custom-sizes-container {
    display: block;
    text-align: center;
    margin-top: 15px;
}

.stickers-custom-size-height, .stickers-custom-size-width, .magnets-custom-size-height, .magnets-custom-size-width {
    width: 25% !important;
    display: inline-block !important;
    margin-right: 5px !important;
}

@media screen and (max-width: 39.9375em) {
    .magnets-custom-size-height, .magnets-custom-size-width, .stickers-custom-size-height, .stickers-custom-size-width {
        width: 20% !important;
    }
}

body.not-welcome section.home {
    padding-top: 0;
    background: none;
    padding-bottom: 0;
}

body.not-welcome .title-bar {
    position: relative;
    padding-top: 1rem;
    -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.06);
    -moz-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.06);
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.06);
}

body.not-welcome .title-bar-right .menu li a, body.not-welcome .title-bar-right .menu li button {
    color: #262544
}

body.not-welcome .menu-icon::after {
    background: #262544;
    box-shadow: 0 7px 0 #262544, 0 14px 0 #262544;
}

@media (max-width: 768px) {
    section.cart-cart .let-table .info-link {
        position: absolute;
        right: 35px;
    }
}

.contactpage h4 {
    color: #262544;
}

.contactpage h5 {
    color: #262544;
    font-size: 22px;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.btn {
    border: none;
    color: #262544;
    background-color: #f3f4f6;
    padding: .925rem 1.875rem;
    border-radius: 3px;
    font-family: "Lato", sans-serif;
    font-size: .875rem;
    font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
    font-size: 16px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.small-text {
    color: red;
    font-size: 10px;
}

section.cart-cart .let-table .button-purple {
    border: none;
    padding: .925rem 1.875rem;
    border-radius: 3px;
    font-size: .875rem;
}

#cvv, #expiration-month, #expiration-year, #credit-card-number {
    height: 55px !important;
    max-height: 55px;
    margin-top: 0;
    background: #f3f4f6;
!important;
    border: 1px solid #e1e3e7;
    box-shadow: none;
    border-radius: 3px;
    transition: box-shadow .5s, border-color .25s ease-in-out;
    padding: 0 1rem;
}

#braintree-hosted-field-cvv, #braintree-hosted-field-expirationMonth, #braintree-hosted-field-expirationYear, #braintree-hosted-field-number, #card-number {
    height: 55px !important;
    margin-top: 0;
}

iframe#braintree-hosted-field-cvv input, iframe#braintree-hosted-field-number input {
    height: 55px !important;
    margin-top: 0;
}

.counter-wrapper .info-pan .mate-checkbox span {
    width: 6.5rem !important;
}

.required {
    color: red !important;
}

.modal.modal-wide .modal-dialog {
    width: 90%;
}

.modal-wide .modal-body {
    overflow-y: auto;
}
